body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #F9F9F9;
}
 h4 {
    padding: .5rem;
}
nav {
    display: flex;
    height: auto;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

nav i {
    margin: 0 10px;
    
}

.logo img{
    width: 80px;
    height: 20px;
}

nav .col {
    flex: 1;
}
nav .col2 {
    flex: 2;
    border: none;
}
nav .col3 {
    flex: 1;
    text-align: end;
}

nav input {
    width: 80%;
    border: .5px solid #cccccc;
    padding: .5rem 1rem;
    /* margin-right: auto; */
    right: 0;
}
nav button {
    width: 10%;
    /* margin-left: auto; */
    border: none;
    border: 1px solid #cccccc;
    padding: 7px .1rem;
    left: 0;
}
.description i {
    padding: .3rem;
}
.description p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: rgb(3, 3, 3);
}
.description img {
    width: 20px;
    height: 20px;
}
.subscribe img {
    width: 50px;
    height: 50px;
}

.button {
    display: inline-block;
    background-color: red;
    color: #ffff;
    padding: .8rem 1.5rem;
    font-weight: bold;
    border: none;
    float: right;
}

.comment img {
    width: 20px;
    height: 20px;
}

.avatar img{
    width: 70px;
    height: 25px;
}

main {
    display: flex;
    padding: 2rem 4rem;
    height: 100vh;
    justify-content: space-around;
}
main .col1 {
    flex: 4;
    height: 450px;
    margin-right: 2rem;
}
.col1 iframe {
    width: 100%;
    height: 400px;
}
main .col2 {
    float: 5;
    /* display: flex; */
    /* border: 1px solid yellow; */
}
main .col2 iframe {
    width: 170px;
    height: 110px;
}

main .col2 div {
    width: 370px;
    height: 110px;
}
.add-comment {
    padding: 1rem;
}
.add-comment img {
    width: 50px;
    height: 50px;
}
.add-comment textarea {
    border: none;
    background: none;
    display: inline;
    border-bottom: 2px solid #cccccc;
    width: 80%;  
}
.add-comment textarea:focus-within{
    border: none;
    background: none;
    display: inline;
    
    width: 80%;  
}

.side-video {
    display: flex;
}

.side-video div {
    padding: .4rem;
    line-height: 1.3em;
}
.side-video a {
    text-decoration: none;
    font-size: 12px;
}

.side-video i {
    float: right;
    top: 0;
}
hr {
    border: .1px solid #f1f1f1;
    font-weight: lighter;
}

.right {
    margin-left: 200px;
    padding-bottom: 10px;
    display: inline-block;
}
.right i {
    color: blue;

}
.b {
    padding-right: 20px;
    display: inline-block;
}
.side-video span {
    padding-bottom: 10px;
}

footer {
    height: 330px;

}